        <div class="container">
        <div class="row">
        <div class="col-4">
        <img src="images/people-narrow.png" class="img-fluid">
        </div>
        <div class="col-8">
        <p class="lead">Welcome to PHIL 403!</p>

        <p><b>Course Summary.</b>
          Persona data is ubiquitous: with the proliferation of digital technology, our lives and bodies have become increasingly observable, quantifiable, and interconnected. This generates new opportunity for the state, private companies, and other individuals to act on us. Data makes us more powerful but also more vulnerable. This course focuses on the new ethical and political challenges of lives permeated by the creation, collection, and processing of personal information. Here are some of the questions this course will discuss:  
        <ul>
          <li>Do we own our data? 
          <li>Is there a right to be forgotten? 
          <li>Should we use data to predict and manipulate individual behaviour? 
          <li>What responsibilities do we have to others whose data is intertwined with ours?
        </ul>

        <p><b>Enrollment.</b> PHIL 403 is a lower-intermediate-level class. There are no prerequisites.</p>

        <!--<h4>Announcements</h4>

        <div class="alert alert-info" role="alert">
        </div>-->

        <h4>Logistics</h4>
        <ul>
          <li><b>Instructor:</b> <a href="/">Julia Netter</a> (<code>julia_netter@brown.edu</code>).
          <li><b>Time:</b> MWF, 9-9:50pm
          <li><b>Room:</b> <a href="http://brown.edu/Facilities/Facilities_Management/maps/index.php#building/SAYLESHALL"> Sayles Hall 204</a>
         <li><b>Office hours:</b>  Friday, 3.30-4.30, Arnold Lab 309, 91 Waterman St

          <li><a href="syllabus.html">Syllabus</a> <!--&ndash; <a href="syllabus.html">Syllabus--></a>
        </ul>
</div>
</div>
</div>

        <!--<h4>Links</h4>
        <ul>
          <li>Prior CSCI 2390 offering:
              <a href="/courses/csci2390/2020">Fall 2020</a>,
              <a href="/courses/csci2390/2019">Fall 2019</a>.
          <li><a href="http://cs.brown.edu/courses/csci1380/s19/">CSCI 1380: Distributed Computer Systems</a> and MIT's <a href="http://nil.csail.mit.edu/6.824/2018/">6.824: Distributed Systems Engineering</a>.
          <li>MIT's <a href="http://nil.lcs.mit.edu/6.S974/">6.S974: Decentralized Applications</a>.
        </ul>-->

