        <div class="container">
        <div class="row">
        <div class="col-4">
        <img src="images/thinker-phone-small.jpg" class="img-fluid">
        </div>
        <div class="col-8">
        <p class="lead">How can we navigate the ethical challenges of digital technology?</p>

        <p><b>Course Summary.</b>
        As the capacities of digital technology have increased, it has entered (almost) every domain of our lives. Algorithmic models, Artificial Intelligence, and everyday processing of vast amounts of data increasingly shape both our private choices and opportunities, and also our interactions in the public sphere. These developments raise new ethical and normative political questions and prompt us to examine the role of values such as freedom, autonomy, equality, and privacy in the digital sphere.  Here are some of the questions this course will discuss:  
        <ul>
          <li>How should a self-driving car behave when a crash is unavoidable? 
          <li>Are engineers responsible for the decisions of artificially-intelligent systems? 
          <li>What is the value of privacy in a world that increasingly depends on large amounts of data about customers, citizens, or patients?
           <li>How does the algorithmic curating of content relate to freedom of expression?
        </ul>

        <p><b>Enrollment.</b> PHIL 401 is a lower-intermediate-level class. There are no prerequisites.</p>

        <!--<h4>Announcements</h4>

        <div class="alert alert-info" role="alert">
        </div>-->

        <h4>Logistics</h4>
        <ul>
          <li><b>Instructor:</b> <a href="/">Julia Netter</a> (<code>julia_netter@brown.edu</code>).
          <li><b>Time:</b> MWF, 2:00-2:50pm
          <li><b>Room:</b> Friedman 202
         <li><b>Office hours:</b>  Friday, 3.30-4.30, Arnold Labs 309

          <li><a href="syllabus.html">Syllabus</a> <!--&ndash; <a href="syllabus.html">Syllabus--></a>
        </ul>
</div>
</div>
</div>

        <!--<h4>Links</h4>
        <ul>
          <li>Prior CSCI 2390 offering:
              <a href="/courses/csci2390/2020">Fall 2020</a>,
              <a href="/courses/csci2390/2019">Fall 2019</a>.
          <li><a href="http://cs.brown.edu/courses/csci1380/s19/">CSCI 1380: Distributed Computer Systems</a> and MIT's <a href="http://nil.csail.mit.edu/6.824/2018/">6.824: Distributed Systems Engineering</a>.
          <li>MIT's <a href="http://nil.lcs.mit.edu/6.S974/">6.S974: Decentralized Applications</a>.
        </ul>-->

