<h2>Syllabus</h2>

<table class="table table-striped table-bordered">
  <tr>
    <td>Meetings</td>
    <td> 9pm-9:50pm on Mondays, Wednesdays, and Fridays</td>
  </tr>
  <tr>
    <td>Room</td>
    <td>Sayles Hall 204</td>
  </tr>
  <tr>
    <td>Prerequisites</td>
    <td>none</td>
  </tr>
  <tr>
    <td>Instructor</td>
    <td><a href="/">Julia Netter</a> (julia_netter@brown.edu)</td>
  </tr>
  <tr>
    <td>Office Hours</td>
    <td> <a href="https://calendar.google.com/calendar/u/0/selfsched?sstoken=UUdBbWFBc3BMQjBafGRlZmF1bHR8ZTI1ZjBlNDY4OGNjYTljOWFlYTQyNTFhZDY2YTYzYmQ"> Monday, 4.40-6pm and Friday, 3.00-4.30 (please sign up before if possible) </a></td>
  </tr>
  <tr>
    <td>Assignments</td>
    <td>Two short papers, one longer final writing project.</td>
  </tr>
  <!--  <tr>
  <td>Incompletes</td>
    <td>I expect everyone to complete the course on time. However, I
    certainly understand that there may be factors beyond your control,
    such as health problems and family crises, that prevent you from
    finishing the course on time. If you feel you cannot complete the
    course on time, please discuss with Malte Schwarzkopf the
    possibility of being given a grade of Incomplete for the course and
    setting a schedule for completing the course in the upcoming year.</td>
  </tr>-->
  <tr>
    <td>Late Policy</td>
    <td>Three late days (in total) for short papers and final project;
    exceptions for late work beyond the late days will only be made for legitimate reasons and in exceptional
    circumstances.</td>
  </tr>
  <tr>
    <td>Grading</td>
    <td>Weekly reflection and response assignments: 15%; Participation: 10%; Discussion Leadership: 15%; Short papers: 15%+15%; Final project: 30%.
    </td>
  </tr>
  <tr>
    <td>Course Time</td>
    <td>Students will spend approximately 3 hours per week in class (40 hours total), and 3-4 hours preparing readings and writing weekly reflections and responses, including preparing for leading the class discussion in one week (42-56 hours
    total). Working on the two short papers and the final project will take on the order of 7-9 hours per week (98-126 hours total).</td>
  </tr>
</table>

<br/>
<br/>

<h2>Course Details</h2>

<ul class="list-unstyled">
  <li><a href="#desc">Learning Objectives</a>
  <li><a href="#req">Course structure</a>
  <li><a href="#grading">Grading</a>
  <li><a href="#pol">Policies</a>
</ul>

<h4>Learning objectives</h4>
<a name="desc">

<p>This course will introduce you to perspectives and debates in ethics and political philsophy on the nature and use of data and personal information. 
  
<p>More importantly, this course will help you learn to think philosophically about these topics. You will develop the skills necessary for constructing rigorous critical arguments, and will apply them both orally and in writing. Developing those arguments requires you to think and write both creatively and precisely, and the course is structured to help you improve these skills.
  The course is structured to help you improve these skills: you will write regularly and on a wide array of topics, engage with and respond to your peers’ critiques. By the end of the semester, you will have led the class discussion in one session, written two thoroughly-argued short papers and one longer, philosophical paper on a topic of your own choice</p>


<h4>Course structure</h4>
<a name="req">

<p>We will look at one topic each week. While each of the sessions will mainly focus on the specific dimensions raised in the text or texts assigned to that session, they are often intertwined. 
You must have read all of the texts assigned for each session, but I would recommend you read all of the texts assigned for each week before the first session of the week.  
All the assigned texts will be available on Canvas or, if they are available as an ebook, a link will be provided on the course schedule page. </p>

<h5>Reflections and responses (15%)</h5>
<p>This course requires you to read, write, and comment on the main ideas and arguments you encounter in the literature. As such, each week you will:
<ul>
  <li>1. read assigned readings; and
  <li>2a. write a short reflection on the key idea or argument presented in the text; and
  <li>2b. ask a question related to the text. The question can be clarificatory in nature, challenge a specific aspect in the reading or relate more generally to topic of the upcoming session.
</ul>
</p>

<p>Reflections and responses are graded for completion: you will get full credit for each submission as long as it reflects a reasonable attempt to engage with the assigned texts.</p>

<h5>Two short papers (15%+15%)</h5>
<p>You will write two short papers of around 1,500 to 2,000 words.</p>

<p>It is important that your paper focuses on answering the question in the prompt, and for it to defend your position by offering a well-structured argument that anticipates potential objections and engages with them. Given the brevity of these essays, I do not expect your discussion be exhaustive. A very good essay demonstrates that you understand the structure and substance of the arguments you invoke, as well as their limitations, and the extent to which they support a particular view. We will talk about what makes a good essay in one of our first sessions. The first essay prompt will be more abstract and theoretical, while the second one will be more applied.</p>

<h5>Final project (30%)</h5>
<p>You will write one long paper of around 3000-3,500 words, on a question of your choice which relates to the topics we have covered throughout the semester. This long paper is due at the end of reading week (Monday), and I ask you to send me your chosen question after Spring break. I will provide feedback on your question, make suggestions to refine it, and finally approve it.

<p>You should choose a question that lends itself to a substantive normative argument. However, unlike in the short essays, the topic is relatively unconstrained. It should relate to one or several topics we discussed in class, and I encourage you to look beyond the abstract, technical debates in the literature to search for interesting questions, puzzles, or problems in your everyday life. Ethics and political philosophy are driven by the clashes of ideas, ideals, and values that we encounter in society and the political sphere. In the long paper, I want you to show that you can relate the debates you encounter in this class to a new question, and that you can make a rigorous philosophical argument advocating a position on that question. Early in the semester and throughout the course, we will talk about how to identify philosophical questions as you go through your everyday life and about what makes a good question for a seminar paper.</p>

<h5>Participation (10%)</h5>
<p>This is a seminar course, so the discussion in class is an essential component. 
The participation grade is based on two components: 
<ul> 
  <li> 1) your presence in class: one unexcused absence is no problem, but beyond that, if you cannot attend class for legitimate personal reasons, or because you feel unwell, please email me in advance; 
  <li> 2) overall activity in class discussion: I think of class discussion primarily as a space for learning, which is why I will only grade your overall activity in class discussion, not the quality of your contributions.
</ul>
<p>One note on the culture of debate which I would like to foster in this course: discussions in philosophy are not about winning an intellectual battle, but about engaging with others’ views on their merits. They are also about taking intellectual risks, putting forward a potentially controversial argument, as well as receiving and offering constructive criticism. This is only possible in a class environment in which we build trust. In class, I therefore expect us all to treat each other courteously, engage with each other’s arguments constructively and in good faith no matter the topic.</p>

<h5> Discussion leadership (15%)</h5>
<p>You will be the expert in class for one of the sessions and will be responsible for introducing the key ideas and arguments of the readings, as well as taking a lead in engaging others in the discussion. I will help you prepare for these sessions and you are expected to come to  <a href="https://calendar.google.com/calendar/u/0/selfsched?sstoken=UUdBbWFBc3BMQjBafGRlZmF1bHR8ZTI1ZjBlNDY4OGNjYTljOWFlYTQyNTFhZDY2YTYzYmQ"> office hours</a> to talk about your ideas in the week preceding the session in which you will be the discussion leader. Please sign up to be a discussion leader <a href="https://docs.google.com/spreadsheets/d/1S15wXb87lcJtYwnBIbi-uCxAUwn0HdVmQ_TeRwP1pw0/edit?usp=sharing"> here.</a>

<h4>Time Commitment</h4>
<a name="req">

<p>You can expect to spend approximately 3 hours per week in class (40 hours total), and
around 3-4 hours preparing readings, as well as writing reflections and responses (42-56 hours total).
Short papers and the final project will take around 98-126 hours in
total throughout the semester.</p>

<h4>Policies</h4>
<a name="pol">

<h5>Late Policy</h5>
<p>You can use a budget of three late days in total for the short papers and the final paper. The purpose of these late days is to provide you with some flexibility for unexpected situations in which you find yourself unable to complete an assignment on time (e.g., coinciding deadlines, extracurricular commitments, etc.). For those situations, I normally expect you to use your late days, rather than asking for an extension, so make sure to use them judiciously.  

<p> I expect you to attend every session, but let me know if you have any special
requirements. For sickness and other issues of wellbeing, please obtain a Dean's note
and I will accommodate them.</p>

<p>The course will involve substantial <em>reading</em> for each meeting, and you will need to
stay on top of the assigned readings to keep up, as we quickly move between topics. However, the topics we cover week-by-week are relatively standalone, so finding one paper difficult to read will not
disadvantage you going forward.</p>

<p><em>Reflections and questions</em> are due at <b>6pm</b> (Eastern) on Sunday, Tuesday, and Thursday respectively,
and owing to the small amount of credit they contribute individually, there will be no late submission.
If you do encounter particular, unexpected hardships however, please send me an email.</p>

<h5>Accommodations</h5>
<p>Brown University is committed to full inclusion of all students.  Please inform me if you have
a disability or other condition that might require accommodations or modification of any of
these course procedures. You may email me, come to office hours, or speak with me after class,
and your confidentiality is respected. I will do whatever we can to support accommodations
recommended by SEAS. For more information contact Student and Employee Accessibility Services
(SEAS) at 401-863-9588 or SEAS@brown.edu.</p>

<h5>Mental Health</h5>
<p>Being a student can be very stressful. If you feel you are under too much pressure or there are
psychological issues that are keeping you from performing well at Brown, I encourage you to
contact Brown’s Counseling and Psychological Services
(<a href="https://www.brown.edu/campus-life/support/counseling-and-psychological-services/">CAPS</a>).
They provide confidential counseling and can provide notes supporting extensions on assignments
for health reasons.</p>

<h5>Academic Integrity</h5>
<p>From the Brown academic code: “Academic achievement is ordinarily evaluated on the basis of work that a student produces independently. Students who submit academic work that uses others’ ideas, words, research, or images without proper attribution and documentation are in violation of the academic code. Infringement of the academic code entails penalties ranging from reprimand to suspension, dismissal, or expulsion from the University.</p>

<p>“Brown students are expected to tell the truth. Misrepresentations of facts, significant omissions, or falsifications in any connection with the academic process (including change of course permits, the academic transcript, or applications for graduate training or employment) violate the code, and students are penalized accordingly. This policy also applies to Brown alums, insofar as it relates to Brown transcripts and other records of work at Brown.
</p>

<p>“Misunderstanding the code is not an excuse for dishonest work. Students who are unsure about any point of Brown’s academic code should consult their courses instructors or an academic dean, who will be happy to explain the policy.”</p>

<p>Please review the Brown Academic Code <a href="https://www.brown.edu/academics/college/degree/policies/ academic-code">here. </a></p>
